@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    --main-text-color: black;
    --second-text-color: white;
    --background-color: #A994E6;
    --button-hover-color: #354251; 
    --gradient-button-color: #0000001d;
    --box-shadow-button-color: #00000040;
}

img {
    display: block;
    width: 100%;
}

.wrapper {
    min-height: 100%;
}
  
._container {
    max-width: 1367px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}