
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
  }
  
.header__container {
	display: flex;
	justify-content: space-between;
	flex-direction: column;	
	margin-top: 15px; 
	align-items: stretch;
	align-items: flex-start;
}


.header_first_items {
	display: flex;
	align-items: center;
	padding-bottom: 10px;
}

 
.header__logo {
	font-family: 'Ubuntu';
	font-size: 25px;
	font-weight: 500;
	color: black;
	text-decoration: none;
	padding-right: 10px;
}

.head__information {
	display: flex;
	font-family: 'Ubuntu';
	font-size: 12px;
	color: var(--second-text-color);
	background-color: var(--background-color);
	padding-left: 10px;
	text-transform: uppercase;
	padding: 15px;
	align-items: center;
}

.button__more {
	margin-left: 30px;
	display: inline-block;
	cursor: pointer;
	font-size: 14px;
	text-transform: none;
	text-decoration: none;
	padding: 10px 20px;
	color: var(--background-color);
	border-radius: 5px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.114) 100%), #FFFFFF;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.button__more p {
	margin-bottom: 0;
}


@media (min-width: 646px) {
	.header__logo {
		font-size: 35px;
	}
	.head__information {
		font-size: 25px;
	}


}

@media (min-width: 820px) {

	.header__container {
		flex-direction: row;	
		align-items: stretch;
	}

	.header_first_items {
		padding-bottom: 0;
	}


}



.header__left {
	margin-right: 15px;
}

.header__center {
	margin-right: 10px;	
}

.header__right {

}


  
.head_burger_icon {
	height: 37px;
	width: 37px;
}
  
.head__button {
	display: inline-block;
	cursor: pointer; 
	font-size: 14px;
	text-decoration: none;
	padding: 10px 20px; 
	color: #ffffff;
	background: #7E76E6;
	border-radius: 5px;
	border: 0px solid #354251;
}

.head__button:hover{background:#354251;color:#ffffff;border:0px solid #354251;transition: all 0.2s ease;
}