.main_background {
	background-image: url("../img/main_background.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
	padding-top: 50px;
	color: var(--main-text-color);
	font-family: ubuntu;
}

.main__text	{
	margin-top: 150px;
	margin-left: 30px;
	font-size: 22px;
	font-weight: 500;
}

.subject__text	{
	margin-top: 50px;
	margin-left: 30px;
	font-weight: 300;
}

.button__constructor {
	margin-top: 16px;
	margin-left: 30px;
	margin-bottom: 20px;
	display: inline-block;
	cursor: pointer;
	font-size: 14px;
	text-decoration: none;
	padding: 10px 20px;
	color: var(--second-text-color);
	border-radius: 5px;
	border: 0 solid var(--button-hover-color);
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.114) 100%), #7E76E6;
	box-shadow: 0px 2px 2px var(--box-shadow-button-color);
}
.button__constructor p {
	margin-bottom: 0;
}

.button__constructor:hover{background:var(--button-hover-color);color:var(--second-text-color);border:0px solid var(--button-hover-color);transition: all 0.2s ease;
}


@media (min-width: 646px) {
	.main__text {
		max-width: 600px;
	}
}

.button__voice_control {
	display: flex;
	align-items: center;
	margin-left: 30px;
	width: fit-content;
	cursor: pointer;
	font-size: 20px;
	font-weight: 300;
	text-decoration: none;
	padding: 10px 20px;
	color: var(--main-text-color);
	border-radius: 5px;
	border: 0 solid var(--button-hover-color);
	background-color: transparent;
	box-shadow: 0px 2px 2px var(--box-shadow-button-color);
}

.button__voice_control p {
	margin-bottom: 0;
	margin-left: 10px;
}

.button_voice_logo {
	width: 65px;
	height: 45px;
}

@media (min-width: 646px) {
	.button__voice_control {
		margin-right: 55px;
	}
	.main_bottom_item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 30px;
	}

}

