.meet {
	padding-top: 30px;
}


.meet__head_text h2 {
	font-size: 36px;
	text-align: center;

}

.meet__regular_text {
	font-size: 18px;
	line-height: 24px;
}

.meat__content {
	display: flex;
	flex-wrap: wrap;
}
.meet__background_house {
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	background-size: cover;
	padding-top: 50px;
	color: var(--main-text-color);
	font-family: ubuntu;
}
